@media screen and (max-width: 1366px) {
    .head{
        /*transform: scale(1.4, 1.2);*/
        /*transition: all 0.3s ease;*/
        /*width: 1350px;*/
    }
}


/* Планшеты горизонтально 1024px */
@media screen and (max-width: 1920px) {
    .page{
        /*transform: scale(1.4, 1.2);*/
        /*transition: all 0.3s ease;*/
    }
}
/* Планшеты вертикально 768px */
@media screen and (max-width: 768px) {
    body{
        min-width: 768px;
        max-width: 768px;
    }
    .head{
        width: 768px;
        min-width: 768px;
        margin-left: 0;
    }
    .head__inner{
        width: 768px;
        margin: 0;
    }
    .wrapper{
        width: 768px;
        min-width: 768px;
        margin-left: 0;

    }
    .wrapper__inner{
        width: 768px;
    }
    .page{
        transform: scale(0.5,0.5);
        margin: -171px -150px 0;
    }
    .books{
        margin: 0;
    }
    .books__item{
        transform: scale(0.5,0.5);
        margin: 15px 0 -60px 106px;
    }
    .books__item:hover{
        transform: scale(0.5,0.5);
    }
    .books__link{
        font-size: 25px;
    }
}
/* Небольшие планшеты */
@media screen and (max-width: 600px) {

}
/* Мобилки горизонтально*/
@media screen and (max-width: 480px) {

}
/* Мобилки вертикально */
@media screen and (max-width: 320px) {

}
