.inline-block, audio,
canvas,
video {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}

.clearfix {
  *zoom: 1;
}
.clearfix:before, .clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}

.btn-container__link:visited {
  color: #fff;
}
.btn-container__link:link {
  color: #fff;
}
.btn-container__link:hover {
  color: #fff;
}
.btn-container__link:active {
  color: #fff;
}

.head__linked {
  text-decoration: underline;
}

/* --------------------- reset meyer styles --------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

audio:not([controls]) {
  display: none;
}

ol, ul {
  list-style: none;
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a img {
  border: 0;
}

/* --------------------- END reset meyer styles ---------------------- */
hr {
  border: 0px none;
  background: none;
  outline: none;
  height: 0;
  margin: 0;
}

[hidden] {
  display: none;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button,
input {
  line-height: normal;
  *overflow: visible;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

input[type="image"],
input[type="checkbox"],
input[type="radio"] {
  width: auto;
  height: auto;
  padding: 0;
  margin: 3px 0;
  *margin-top: 0;
  border-radius: 0;
  border: 0 \9;
}

input[type=button],
input[type=reset],
input[type=submit] {
  width: auto;
  height: auto;
}

input[type=checkbox],
input[type=radio] {
  cursor: pointer;
}

textarea {
  overflow: auto;
  vertical-align: top;
  height: auto;
}

select[multiple] {
  height: inherit;
  background-color: #fff;
}

input[type="file"] {
  width: auto;
  padding: initial;
  line-height: initial;
  border: initial;
  background-color: #fff;
  background-color: initial;
  line-height: 18px \9;
}

select,
input[type="file"] {
  height: 28px;
}

textarea {
  height: auto;
}

input[type="hidden"] {
  display: none;
}

input[type=file]:focus,
input[type=checkbox]:focus,
select:focus {
  outline: 1px dotted #666;
}

input[type="image"] {
  border: 0;
}

body {
  font: 14px "PT Sans", 'Arial', sans-serif;
}

img {
  max-width: 100%;
}

a:visited {
  color: #fff;
}
a:link {
  color: #fff;
}
a:hover {
  color: #545452;
}
a:active {
  color: #fff;
}

body {
  background: url("../img/pattern.png");
  width: 100%;
  font-family: 'Arial';
  min-width: 480px;
}

.container {
  width: 90%;
  margin: 5% auto;
  height: 80%;
  max-width: 1200px;
  min-width: 400px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #fcfcfc;
  display: block;
  border-radius: 5px;
  position: relative;
  -webkit-box-shadow: inset 0 0 0 3px #fff, inset 0 4px 5px 1px #e5e5e5;
  -moz-box-shadow: inset 0 0 0 3px #fff, inset 0 4px 5px 1px #e5e5e5;
  box-shadow: inset 0 0 0 3px #fff, inset 0 4px 5px 1px #e5e5e5;
}
.container__left, .container__right {
  width: 34%;
  padding: 20px 10px;
  float: left;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.left__btn-container {
  width: 100%;
}
.left__btn-container:after {
  content: '';
  background: url("../img/underline.png") 0 0 repeat-x;
  width: 100%;
  height: 5px;
  margin: 25px 0 25px;
  display: block;
}
.left__btn {
  color: #fff;
  background-color: #349bdb;
  background-image: -moz-linear-gradient(top, #56b5ff, #0176a7);
  background-image: -ms-linear-gradient(top, #56b5ff, #0176a7);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#56b5ff), to(#0176a7));
  background-image: -webkit-linear-gradient(top, #56b5ff, #0176a7);
  background-image: -o-linear-gradient(top, #56b5ff, #0176a7);
  background-image: linear-gradient(top, #56b5ff, #0176a7);
  background-repeat: repeat-y;
  padding: 17px 17px 15px 17px;
  border-radius: 15px;
  outline: none;
  width: 100%;
  border: 4px solid #fff;
  -webkit-box-shadow: 0 3px 2px -2px #ccc;
  -moz-box-shadow: 0 3px 2px -2px #ccc;
  box-shadow: 0 3px 2px -2px #ccc;
}
.left__btn:hover {
  background-color: #238fca;
  background-image: -moz-linear-gradient(top, #0176a7, #56b5ff);
  background-image: -ms-linear-gradient(top, #0176a7, #56b5ff);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0176a7), to(#56b5ff));
  background-image: -webkit-linear-gradient(top, #0176a7, #56b5ff);
  background-image: -o-linear-gradient(top, #0176a7, #56b5ff);
  background-image: linear-gradient(top, #0176a7, #56b5ff);
  background-repeat: repeat-y;
}
.left__inner {
  font-size: 14px;
  text-align: justify;
}
.left__inner:after {
  content: '';
  background: url("../img/underline.png") 0 0 repeat-x;
  width: 100%;
  height: 5px;
  margin-top: 25px;
  display: block;
}
.left__description {
  padding: 0 15px 0 15px;
  font-size: 18px;
}

.comment {
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 5px;
  position: relative;
}
.comment:before {
  content: '';
  position: absolute;
  background: url("../img/mind.png");
  height: 25px;
  width: 32px;
  top: 100%;
  right: 10%;
}
.comment__inner {
  text-align: center;
  border: 1px dashed #ccc;
  padding: 25px;
  border-radius: 17px;
}
.comment__title {
  font-size: 24px;
  color: #dd567f;
  padding-bottom: 15px;
  font-weight: bolder;
}
.comment__description {
  font-size: 14px;
}

.sensors {
  position: relative;
  top: -50px;
  float: right;
  margin: 0 20px 0 0;
  width: 120px;
}
.sensors:after {
  content: '';
  background: url("../img/underline.png") 0 0 repeat-x;
  width: 100%;
  height: 5px;
  margin-top: 25px;
  display: block;
}

.heart-container {
  margin: 0 15px;
  width: 14px;
  position: relative;
  text-align: center;
  display: inline-block;
}
.heart-container:first-child {
  margin-left: 0;
}
.heart-container:last-child {
  margin-right: 0;
}
.heart-container__line {
  border: 2px solid #fff;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-left: 25%;
}
.heart-container__line-inner {
  background-color: #ffd2e9;
  content: '';
  display: block;
  width: 6px;
  height: 39px;
  border-radius: 10px;
  border: 4px solid #dd567f;
}
.heart-container__picture {
  background: url("../img/heart.png") 0 0 no-repeat;
  width: 25px;
  height: 20px;
  display: inline-block;
}

.time-container__picture {
  background: url("../img/clock.png");
  height: 21px;
  width: 22px;
  display: inline-block;
}

.time-container__line-inner {
  background-color: #9ed3f9;
  content: '';
  display: block;
  width: 6px;
  height: 21px;
  border-radius: 10px;
  border: 4px solid #4badf3;
}

.notate-container__line-inner {
  background-color: #cad4d9;
  content: '';
  display: block;
  width: 6px;
  height: 51px;
  border-radius: 10px;
  border: 4px solid #9dafb8;
}

.notate-container__picture {
  background: url("../img/notate.png") 0 0 no-repeat;
  width: 23px;
  height: 23px;
  display: inline-block;
}

.foot {
  width: 100%;
}
.foot__inner {
  display: table;
  width: 100%;
}
.foot__qrcode {
  background: url("../img/qr_code.png") 0 0 no-repeat;
  width: 96px;
  height: 96px;
  display: block;
  float: right;
  margin: 0 25px;
}
.foot__barcode {
  background: url("../img/barcode.png") 0 0 no-repeat;
  width: 87px;
  height: 45px;
  min-height: 100%;
  display: block;
  float: left;
  margin: 0 25px;
}
.foot__content, .foot__left, .foot__right {
  display: table-cell;
  vertical-align: top;
}
.foot__content {
  font-size: 12px;
  text-align: justify;
  width: 75%;
}
.foot__content:after {
  content: '';
  background: url("../img/underline.png") 0 0 repeat-x;
  width: 100%;
  height: 5px;
  margin-top: 30px;
  display: block;
  margin-bottom: 50px;
}

.bam {
  margin: 50px auto;
  width: 14px;
}

.round {
  border: 2px solid #cccccc;
  width: 100%;
  border-radius: 10px;
}
.round__inner {
  background-color: #cccccc;
  content: '';
  display: block;
  width: 6px;
  height: 39px;
  border-radius: 10px;
  border: 4px solid #dd567f;
}
