@import "sprites-config";

// стандартная функция
// +icons-sprite(name)

// функция, подключающая inline-block
// +ib-icons(name)

// функция, которая не дублирует размер
// +only-icons(name)

//.icon-circuits
//    +ib-icons(icon-circuits)


.icon-twit{
    @include ib-icons(icon-twit);
}

.icon-post{
    @include ib-icons(icon-post)
}

.icon-google{
    @include ib-icons(icon-google)
}

.icon-facebook{
    @include ib-icons(icon-facebook)
}