body {
  background: url("../img/pattern.png");
  width: 100%;
  font-family: 'Arial';
  min-width: 480px;
}

.container {
  width: 90%;
  margin: 5% auto;
  height: 80%;
  max-width: 1200px;
  min-width: 400px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #fcfcfc;
  display: block;
  border-radius: 5px;
  position: relative;
  -webkit-box-shadow: inset 0 0 0 3px #fff, inset 0 4px 5px 1px #e5e5e5;
  -moz-box-shadow: inset 0 0 0 3px #fff, inset 0 4px 5px 1px #e5e5e5;
  box-shadow: inset 0 0 0 3px #fff, inset 0 4px 5px 1px #e5e5e5;

  &__left ,
  &__right{
    width: 34%;
    padding: 20px 10px;
    float: left;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}

.left {

  &__btn-container {
    width: 100%;

    &:after {
      content: '';
      background: url("../img/underline.png") 0 0 repeat-x;
      width: 100%;
      height: 5px;
      margin: 25px 0 25px;
      display: block;
    }
  }

  &__btn {
    color: #fff;
    @include gradient-vertical(#56b5ff, #0176a7);
    padding: 17px 17px 15px 17px;
    border-radius: 15px;
    outline: none;
    width: 100%;
    border: 4px solid #fff;
    -webkit-box-shadow: 0 3px 2px -2px #ccc;
    -moz-box-shadow: 0 3px 2px -2px #ccc;
    box-shadow: 0 3px 2px -2px #ccc;

    &:hover{
      @include gradient-vertical(#0176a7, #56b5ff);
    }
  }

  &__inner {
    font-size: 14px;
    text-align: justify;

    &:after {
      content: '';
      background: url("../img/underline.png") 0 0 repeat-x;
      width: 100%;
      height: 5px;
      margin-top: 25px;
      display: block;
    }
  }

  &__description {
    padding: 0 15px 0 15px;
    font-size: 18px;
  }
}

.comment {
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 5px;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    background: url("../img/mind.png");
    height: 25px;
    width: 32px;
    top: 100%;
    right: 10%;
  }
  &__inner {
    text-align: center;
    border: 1px dashed #ccc;
    padding: 25px;
    border-radius: 17px;

  }
  &__title {
    font-size: 24px;
    color: #dd567f;
    padding-bottom: 15px;
    font-weight: bolder;
  }
  &__description {
    font-size: 14px;
  }

}

.sensors {
  position: relative;
  top: -50px;
  float: right;
  margin: 0 20px 0 0;
  width: 120px;

  &:after {
    content: '';
    background: url("../img/underline.png") 0 0 repeat-x;
    width: 100%;
    height: 5px;
    margin-top: 25px;
    display: block;
  }
}

.heart-container {
  margin: 0 15px;
  width: 14px;
  position: relative;
  text-align: center;
  display: inline-block;
  &:first-child {
    margin-left: 0;
  }
  &:last-child {
    margin-right: 0;
  }
  &__line {
    border: 2px solid #fff;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-left: 25%;
    //      :before{
    //        content: '';
    //        width: 6px;
    //        background: #ffd2e9;
    //        border: 4px solid #dd567f;
    //        border-radius: 3px;
    //        padding: 3px;
    ////        height: 100%;
    //        display: block;
    //      }
  }
  &__line-inner {
    background-color: #ffd2e9;
    content: '';
    display: block;
    width: 6px;
    height: 39px;
    border-radius: 10px;
    border: 4px solid #dd567f;
  }
  &__picture {
    background: url("../img/heart.png") 0 0 no-repeat;
    width: 25px;
    height: 20px;
    display: inline-block;
  }

}

.time-container__picture {
  background: url("../img/clock.png");
  height: 21px;
  width: 22px;
  display: inline-block;
}

.time-container__line-inner {
  background-color: #9ed3f9;
  content: '';
  display: block;
  width: 6px;
  height: 21px;
  border-radius: 10px;
  border: 4px solid #4badf3;
}

.notate-container__line-inner {
  background-color: #cad4d9;
  content: '';
  display: block;
  width: 6px;
  height: 51px;
  border-radius: 10px;
  border: 4px solid #9dafb8;
}

.notate-container__picture {
  background: url("../img/notate.png") 0 0 no-repeat;
  width: 23px;
  height: 23px;
  display: inline-block;
}

.foot {
  width: 100%;
  &__inner {
    //    width: 80%;
    //    margin: 0 auto;
    display: table;
    width: 100%;
  }
  &__qrcode {
    background: url("../img/qr_code.png") 0 0 no-repeat;
    width: 96px;
    height: 96px;
    display: block;
    float: right;
    margin: 0 25px;
  }
  &__barcode {
    background: url("../img/barcode.png") 0 0 no-repeat;
    width: 87px;
    height: 45px;
    min-height: 100%;
    display: block;
    float: left;
    margin: 0 25px;

  }
  &__content,
  &__left,
  &__right {
    display: table-cell;
    vertical-align: top;
  }
  &__content {
    font-size: 12px;
    text-align: justify;
    width: 75%;
    &:after {
      content: '';
      background: url("../img/underline.png") 0 0 repeat-x;
      width: 100%;
      height: 5px;
      margin-top: 30px;
      display: block;
      margin-bottom: 50px;
    }
  }
}

.bam {
  margin: 50px auto;
  width: 14px;
}

.round {
  border: 2px solid #cccccc;
  width: 100%;
  border-radius: 10px;

  &__inner {
    background-color: #cccccc;
    content: '';
    display: block;
    width: 6px;
    height: 39px;
    border-radius: 10px;
    border: 4px solid #dd567f;
  }
}