@mixin box-sizing($how: border-box){
//    -webkit-box-sizing: $how;
//    -moz-box-sizing: $how;
//    box-sizing: $how;
}

.inline-block {
    display: -moz-inline-stack; // ff2
    display: inline-block;
    zoom: 1; // Internet Explorer 6
    *display: inline; // Internet Explorer
}

.clearfix {
    *zoom: 1;

    &:before,
    &:after {
        display: table;
        content: "";
    }
    &:after {
        clear: both;
    }
}

@mixin href($linkColor: #fff, $linkColorHover: #545452, $linkColorActive: #fff, $linkColorVisited: $linkColor){
    &:visited{
        color: $linkColorVisited;
    }
    &:link{
        color: $linkColor;
    }
    &:hover{
        color: $linkColorHover;
    }
    &:active{
        color: $linkColorActive;
    }

}
.btn-container__link{
    @include href(#fff,#fff,#fff,#fff);
}
.head__linked{
  text-decoration: underline;
}

@mixin gradient-vertical($startColor: $gray, $endColor: lighten($gray, 15)) {
  background-color: mix($startColor, $endColor, 60%);
  background-image: -moz-linear-gradient(top, $startColor, $endColor); // FF 3.6+
  background-image: -ms-linear-gradient(top, $startColor, $endColor); // IE10
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from($startColor), to($endColor)); // Safari 4+, Chrome 2+
  background-image: -webkit-linear-gradient(top, $startColor, $endColor); // Safari 5.1+, Chrome 10+
  background-image: -o-linear-gradient(top, $startColor, $endColor); // Opera 11.10
  background-image: linear-gradient(top, $startColor, $endColor); // native
  background-repeat: repeat-y;
}